head
  title Agent vs Agent
  script(src='./lib/jquery-1.9.1.js')
  script(src='./lib/thrift.js')
  script(src='./lib/types/Hearts.js')
  script(src='./lib/types/hearts_types.js')
  script(src='./lib/game.js')
