extends ../layout

block head
  link(rel="stylesheet", type="text/css", href="/cards/cards.css", media="screen")
  //if lt IE 9
    link(rel="stylesheet", type="text/css", href="/cards/cards-ie.css", media="screen")
  //if IE 9
    link(rel="stylesheet", type="text/css", href="/cards/cards-ie9.css", media="screen")
  != css('style')

  script(src='/javascripts/thrift.js')
  script(src='/types/tic_tac_toe/tic_tac_toe_types.js')
  script(src='/types/tic_tac_toe/TicTacToe.js')
  != js('tic_tac_toe/app')
