#############################
## MAKE SURE TO KEEP IN SYNC
## WITH .npmignore
#############################

node_modules
gen
.DS_Store
.listen_test

# compiled from cljs
web/public/javascripts/app.js

figwheel_server.log
pom.xml
*jar
/classes/
/web/public/javascripts/out
/target/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.repl
.nrepl-port

