#############################
## MAKE SURE TO KEEP IN SYNC
## WITH .npmignore
#############################

node_modules
gen
.DS_Store
.listen_test

###

/resources/public/js/compiled/**
/resources/public/css/style.css
figwheel_server.log
pom.xml
*jar
/classes/
/out
/target/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.repl
.nrepl-port

