body {
  background: url('../lib/img/retina_wood.png');
}

.cardTable {
  background: url('../lib/img/pool_table.png');
}

.currentPlayer {
  background-color: #d9edf7;
}

.blankSpot {
  background-color: #468847;
}

.waitingSpot {
  background-color: #f89406;
}
