head
  meta(charset="utf-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")

  title Agent vs Agent

  link(rel="stylesheet", type="text/css", href="/css/normalize.css")
  link(rel="stylesheet", type="text/css", href="/css/foundation.css")
  script(src="/javascripts/vendor/modernizr.js")

  block head
