head
  title Agent vs Agent
  meta(name="viewport", content="width=device-width, initial-scale=1.0")

  link(rel="stylesheet", type="text/css", href="/bootstrap/css/bootstrap.css", media="screen")
  link(rel="stylesheet", type="text/css", href="/bootstrap/css/bootstrap-responsive.css", media="screen")
  script(src='/javascripts/jquery-1.9.1.js')
  script(src='/javascripts/angular.js')

  block head
